* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: Helvetica, Arial, sans-serif;
}



/* ----------------------------------------------------------------- */



.dashboard {
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 10%);

  height: 100svh;
  width: 100svw;
  overflow: hidden;

  display: grid;
}

/* Dynamically applied to dashboard element to expand/collapse panel */
.dashboard-panel-out {
  grid-template-columns: 3fr 1fr;
}
.dashboard-panel-in {
  grid-template-columns: 1fr 80px;
}




/* ------------------------------------------------------------------ */



.panel-grid {
  display: grid;
}

/* Dynamically applied to panel-grid element to expand/collapse panel */
.panel-out {
  grid-template-columns: 1fr 80px;
}
.panel-in {
  grid-template-columns: 80px;
}



/* ------------------------------------------------------------------ */



.canvas {
  /* TEST -- for mobile, to permit pointer events to function */
  touch-action: none;
}



/* ------------------------------------------------------------- */



/* Dynamically applied to panel element to expand/collapse panel */
.panel {
  border-left: dotted 1px hsl(0, 0%, 50%);
}
.panel-hidden {
  display: none;
}



/* -------------------------------------------------------------- */

.tabs {
  border-left: dotted 1px hsl(0, 0%, 50%);
}

/* --------------------------------------------------------------- */

@media screen and (orientation: portrait) {
  .dashboard-panel-out {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
  }
  .dashboard-panel-in {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
  }
  .panel-out {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
  }
  .panel-in {
    grid-template-columns: 1fr;
    grid-template-rows: 80px;
  }
  .panel {
    border-left: none;
    border-top: dotted 1px hsl(0, 0%, 50%);
  }
  .tabs {
    border-left: none;
    border-top: dotted 1px hsl(0, 0%, 50%);
  }
}
