* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Mulish', sans-serif;
  /* font-family: 'Zilla Slab', serif; */
}



/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* Dashboard */

.dashboard {
  color: hsl(0, 0%, 90%);
  background-color: #121212;

  /* svh gets best results on mobile */
  height: 100svh;
  width: 100svw;
  overflow: hidden;

  display: grid;
}

/* dynamically applied to expand/collapse panel */
.dashboard-panel-out {
  grid-template-columns: 1fr 1fr;
}
.dashboard-panel-in {
  grid-template-columns: 1fr 80px;
}




/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* Canvas */

.canvas {
  /* for mobile, to prevent browser touch actions within canvas bounds */
  touch-action: none;
}




/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* PanelOuter */

.panel-outer {
  display: grid;

}

/* dynamically applied to expand/collapse panel */
.panel-out {
  grid-template-columns: 1fr 80px;
}
.panel-in {
  grid-template-columns: 80px;
}




/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* PanelInner */


/* set scrollbar in panel */
/* max height property applied dynamically using inline css on PanelInner */
.panel-inner {
  overflow-y: scroll;
  /* border-left: dotted 1px hsl(0, 0%, 50%); */
  padding: 0.6rem 0.6rem 0 0.6rem;
}

/* dynamically applied to PanelInner element to expand/collapse panel */
.panel-hidden {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 1.8rem;
}

/* track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 15%);
  border-radius: 1.8rem;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 5%);
  cursor: pointer;
}



/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* Tabs */

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-left: dotted 1px hsl(0, 0%, 50%);
  /* box-shadow: -3px 0 3px hsl(0, 0%, 8%); */
}






/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* TabButton */

.tab-button {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  
  width: 60px;
  height: 60px;
  line-height: 85%;
  border-radius: 50%;
}

.tab-button:hover {
  cursor: pointer;
  border: hsl(0, 0%, 50%) 3px dotted;
}

.tab-button-active {
  border: hsl(0, 0%, 90%) 3px solid;
}

.tab-button-active:hover {
  border: hsl(0, 0%, 90%) 3px solid;
}

.tab-button-home {
  margin-top: 20px;
}




/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* Toolbox */

.tool-box-wrapper {
  margin-bottom: 3.6rem;
}

.tool-box {

    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 1.2rem;
    width: 100%;

}




/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* ToolboxButton */

.tool-box-button {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border-radius: 3px;
  letter-spacing: 2px;

  width: 33.3333%;
  height: 100%;
}

.tool-box-button:hover {
  cursor: pointer;
  background-color: black;
}

.tool-box-button-active {
  background-color: #2e0000;
  font-weight: 700;
}

.tool-box-button-active:hover {
  background-color: #2e0000;
}





/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* CreateForm */



.create-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2.4rem;
}

.create-form label {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.create-form input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: hsla(0, 0%, 90%, 0.10);

  height: 3rem;
  width: 75%;
  margin-bottom: 1.2rem;
}

.create-form input:focus {
  outline: none;
  background-color: hsla(0, 0%, 90%, 0.65)
}

.entity-type-button {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  height: 30px;
  width: 25%;
  margin-bottom: 1.2rem;
  
}


.entity-type-button:hover {
  cursor: pointer;
  background-color: black;
}

.entity-type-button-active {
  background-color: #2e0000;
  font-weight: 700;
}

.entity-type-button-active:hover {
  background-color: #2e0000;
}






/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* atomic styles */

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}






/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

@media screen and (orientation: portrait) {
  /* canvas is resized in Canvas component */

  /* -------------------------------------------------------*/
  /* Dashboard */

  .dashboard-panel-out {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
  }
  .dashboard-panel-in {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
  }

  /* ------------------------------------------------ */
  /* PanelOuter */

  .panel-out {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
  }
  .panel-in {
    grid-template-columns: 1fr;
    grid-template-rows: 80px;
  }

  /* ----------------------------------------------------- */
  /* PanelInner */

  .panel-inner {
  border-left: none;
  border-top: dotted 1px hsl(0, 0%, 50%);
  }

  /* ------------------------------------------------------- */ 
  /* Tabs */

  .tabs {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    border-left: none;
    border-top: dotted 1px hsl(0, 0%, 50%);
    /* box-shadow: 0 -3px 3px hsl(0, 0%, 8%); */
  }

  /* TabButton */
  .tab-button-home {
    margin-top: 0;
  }
}
